@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 8px 160px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 160px;
    gap: 36px;
}

.hero .left {
    flex: 1;
}

.hero .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    padding: 6px 24px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 6px;
}

.hero .placeholder {
    flex: 1;
    display: flex;
    background-color: darkgray;
    color: #E5E7EB;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 108px;
    gap: 36px;
}

.information .list {
    display: flex;
    gap: 48px;
}

.information .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.information .text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .placeholder {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.information .subtext {
    text-align: center;
    width: 150px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}